html, body {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: monospace;
}

main {
  margin: 0 auto;
  max-width: 748px;
  padding: 2rem 10px 2rem;
}

button {
  font-size: inherit;
}

#animation-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
