html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
}

main {
  margin: 0 auto;
  max-width: 748px;
  padding: 2rem 10px 2rem;
}

button {
  font-size: inherit;
}

#led {
  background: red;
  border-radius: 50%;
  height: 10rem;
  margin: 2rem;
  opacity: 0;
  width: 10rem;
}

#settings {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}
