html {
  background: black;
  font-size: 17px;
  text-shadow: 0 0 6px black;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-family: monospace;
}

main {
  margin: 0 auto;
  max-width: 748px;
  padding: 2rem 10px 2rem;
}

button {
  font-size: inherit;
}

#animation-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

#grid {
  font-size: 12px;
  white-space: nowrap;
}

label {
  font-weight: bold;
}

p {
  line-height: 1.5;
}

#threshold-indicator {
  background: transparent;
  height: 2rem;
  width: 2rem;
  border: solid 2px red;
  border-radius: 100%;
  float: left;
  margin-right: 1rem;
}

#threshold-setup-wrapper {
  display: flex;
  align-items: center;
}

#threshold-setup-wrapper > * + * {
  margin-left: 1rem;
}

#experiment-init-ready {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 auto;
}
